/* Add Style to Index */

h1 {
    text-align: center;
    text-decoration: underline;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {

    h2 {
        text-align: center;
        text-decoration: underline;
    }

    box-sizing: border-box;
    margin-right: 620px;
    padding: 10px;
    background-color: rgb(116, 238, 247);

    ul {
        list-style-type: disc;
        list-style-position: outside;
        text-align: left;
        margin: 10px;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        background-color: aqua;
    }
    
    .apple {
        box-sizing: border-box;
        text-align: left;
        margin: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        background-color: aqua;
    }

    .spinach { 
        box-sizing: border-box;
        text-align: left;
        margin: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        background-color: aqua;
    }

    .waldorf {
        box-sizing: border-box;
        text-align: left;
        margin: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        background-color: aqua;
    }   

}